<section class="section">
  <div class="container">
    <h1>{{ copy().title }}</h1>
    <p class="lead">{{ copy().intro }}</p>
    <div class="card section-content">
      <p class="plan-title-full">{{ copy().titleFull }}</p>
      <p class="plan-meta">
        <span class="plan-year">{{ copy().year }}</span>
        &nbsp;&mdash;&nbsp;
        <span class="plan-association">{{ copy().association }}</span>
      </p>
      <p class="plan-association-full">{{ copy().associationFull }}</p>
      <p class="plan-description">{{ copy().description }}</p>
      <p><a routerLink="/fichas">{{ fichasCopy().planLink }}</a></p>
    </div>
  </div>
</section>
